{
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 90,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": false,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["theme"],
  "tailwindFunctions": ["atoms", "tw"]
}
